## Q. 1
You have a dataset that contains temperature data recorded daily over a month for a fictious city. Categorize the temperature into different levels based on the following conditions:

- "Cold" if the temperature is 50°F and below.
- "Cool" if the temperature is above 50°F but below 68°F.
- "Warm" if the temperature is 68°F and above but less than 86°F.
- "Hot" if the temperature is 86°F and above.

Print the result in the format ```Temperature X°F: whatever Category```

In [1]:
### dataset of temperatures:

temps = [45, 52, 68, 73, 89, 47, 55, 81, 66,
         77, 58, 62, 91, 49, 72, 85, 40, 63, 87, 53,
         78, 60, 44, 59, 75, 90, 56, 48, 67, 82]

In [6]:
## code it here 

for temp in temps: #for loop
    if temp <= 50: # began 'if' conditional statements
        print(f"Temperature {temp}°F: Cold")
    elif 50 < temp < 68:
        print(f"Temperature {temp}°F: Cool")
    elif 68 <= temp < 86:
        print(f"Temperature {temp}°F: Warm")
    else:
        print(f"Temperature {temp}°F: Hot")

Temperature 45°F: Cold
Temperature 52°F: Cool
Temperature 68°F: Warm
Temperature 73°F: Warm
Temperature 89°F: Hot
Temperature 47°F: Cold
Temperature 55°F: Cool
Temperature 81°F: Warm
Temperature 66°F: Cool
Temperature 77°F: Warm
Temperature 58°F: Cool
Temperature 62°F: Cool
Temperature 91°F: Hot
Temperature 49°F: Cold
Temperature 72°F: Warm
Temperature 85°F: Warm
Temperature 40°F: Cold
Temperature 63°F: Cool
Temperature 87°F: Hot
Temperature 53°F: Cool
Temperature 78°F: Warm
Temperature 60°F: Cool
Temperature 44°F: Cold
Temperature 59°F: Cool
Temperature 75°F: Warm
Temperature 90°F: Hot
Temperature 56°F: Cool
Temperature 48°F: Cold
Temperature 67°F: Cool
Temperature 82°F: Warm

## Q. 2

Now instead of printing the results, create a list of dictionaries in which each dictionary holds the key-value pairs of ```{"temp": temp_value}```

In [16]:
## code it here
donations = []
for temp in temps: #for loop 
        if temp <= 50: # began 'if' conditional statements
           donations.append({"temp":temp})
        elif 50 < temp < 68:
            donations.append({"temp":temp})
        elif 68 <= temp < 86:
            donations.append({"temp":temp})
        else:
            donations.append({"temp":temp})
donations

[{'temp': 45},
 {'temp': 52},
 {'temp': 68},
 {'temp': 73},
 {'temp': 89},
 {'temp': 47},
 {'temp': 55},
 {'temp': 81},
 {'temp': 66},
 {'temp': 77},
 {'temp': 58},
 {'temp': 62},
 {'temp': 91},
 {'temp': 49},
 {'temp': 72},
 {'temp': 85},
 {'temp': 40},
 {'temp': 63},
 {'temp': 87},
 {'temp': 53},
 {'temp': 78},
 {'temp': 60},
 {'temp': 44},
 {'temp': 59},
 {'temp': 75},
 {'temp': 90},
 {'temp': 56},
 {'temp': 48},
 {'temp': 67},
 {'temp': 82}]

In [17]:
donations

[{'temp': 45},
 {'temp': 52},
 {'temp': 68},
 {'temp': 73},
 {'temp': 89},
 {'temp': 47},
 {'temp': 55},
 {'temp': 81},
 {'temp': 66},
 {'temp': 77},
 {'temp': 58},
 {'temp': 62},
 {'temp': 91},
 {'temp': 49},
 {'temp': 72},
 {'temp': 85},
 {'temp': 40},
 {'temp': 63},
 {'temp': 87},
 {'temp': 53},
 {'temp': 78},
 {'temp': 60},
 {'temp': 44},
 {'temp': 59},
 {'temp': 75},
 {'temp': 90},
 {'temp': 56},
 {'temp': 48},
 {'temp': 67},
 {'temp': 82}]

## Q. 3

You have several lists that hold related data points. **Dynamically** create a list of dictionaries that hold each as a set of values. For example, your list of dictionaries should look like:

```[{"first_name": "Irene", "last_name": "Rosenfeld", "title": "Chair and CEO", "company": "Kraft Foods", "industry": "Food and Beverage"}, ...NEXT dictionary]```

**Dynamically** means don't manually create the dictionaries. Use programming to create your dictionaries.

In [18]:
## ##  RUN THIS CELL - 
## Here we have a list of CEOs and their relevant data points.
first_names = ["Irene", "Ursula", "Elon", "Tim"]
last_names = ["Rosenfeld", "Burns", "Musk", "Cook"]
titles = ["Chair and CEO", "Chair and CEO", "CEO", "CEO"]
companies = ["Kraft Foods", "Xerox", "Tesla", "Apple"]
industries = ["Food and Beverage", "Process and Document Management",
              "Auto Manufacturing", "Consumer Technology"]

In [28]:
## code it here
ceo_data = []
for (first_name, last_name, title, company, industry) in zip(first_names, last_names, titles, companies, industries):
    ceo_data.append({"First_name": first_name, "Last_name": last_name, "Title": title, "Company": company, "Industry": industry})

ceo_data

[{'First_name': 'Irene',
  'Last_name': 'Rosenfeld',
  'Title': 'Chair and CEO',
  'Company': 'Kraft Foods',
  'Industry': 'Food and Beverage'},
 {'First_name': 'Ursula',
  'Last_name': 'Burns',
  'Title': 'Chair and CEO',
  'Company': 'Xerox',
  'Industry': 'Process and Document Management'},
 {'First_name': 'Elon',
  'Last_name': 'Musk',
  'Title': 'CEO',
  'Company': 'Tesla',
  'Industry': 'Auto Manufacturing'},
 {'First_name': 'Tim',
  'Last_name': 'Cook',
  'Title': 'CEO',
  'Company': 'Apple',
  'Industry': 'Consumer Technology'}]

In [23]:
import pandas as pd

In [29]:
df = pd.DataFrame(ceo_data)
df

,First_name,Last_name,Title,Company,Industry
0,Irene,Rosenfeld,Chair and CEO,Kraft Foods,Food and Beverage
1,Ursula,Burns,Chair and CEO,Xerox,Process and Document Management
2,Elon,Musk,CEO,Tesla,Auto Manufacturing
3,Tim,Cook,CEO,Apple,Consumer Technology